.btn {
  color: lemonchiffon;
  font-size: xx-large;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
}

.time {
    font-size: 13px;
  font-family: -webkit-body;
  color: lemonchiffon;
}

.home {
  background: #333;
  height: 100vh;
}

.a {
    padding-top: 50px;
  text-align: center;
}
