/* common css file */
.contentWrapper {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  background-image: url(../images/LooperBG.png),
    radial-gradient(54.25% 54.25% at 50% 47.9%, #1e3a3e 0%, #161b1f 100%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* header section styles */
.timeTable {
  background: black;
  height: 100vh;
}
.header {
  color: white;
  width: 100%;
  height: 18%;
  display: flex;
  padding-left: 46px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 104px;
  width: 113px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Segoe UI;
}
.heading {
  font-size: 4rem;
  font-weight: 700;
}
.date {
  font-size: 2rem;
  font-weight: 300;
  color: #e3e3e3;
}

/* day section style */
.daysSection {
  width: 100%;
  height: 18%;
  padding: 0 10rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.day {
  position:relative;
  font-family: Segoe UI;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  text-align: left;
  color: white;
}
.day::before{
  width:100%;
  height:2px;
  background-color:#329dac;
  position:absolute;
  bottom:0;
  left:0;
  transform:scale(0);
}
.day:hover::before{
  transform:scale(1);
}
.today {
  border-bottom: 2px solid #329dac;
}

/* timeline section */
.timeLineSection {
  display: flex;
  width: 100%;
  padding: 2rem 10rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
/* To create the line */
.timeLineSection::before {
  content: "";
  width: calc(100% - 20rem);
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #c4c4c4;
}
.circle {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #c4c4c4;
}

/* card section */
.CardContainer {
  /* background: red; */
  width: 100%;
  height: 56%;
  display: flex;
}

.card {
  margin: 2rem 2rem 2rem 0;
  padding: 2.5rem;
  width: 2.5rem;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  border-radius: 8%;
  /* display: flex; */
  backdrop-filter:blur(10px);
  background: rgba(255, 255, 255, 0.1);
}
.Period {
  font-family: Segoe UI;
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0em;
  text-align: left;
}
.Teacher {
  font-family: Segoe UI;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 350;
  line-height: 2.5rem;
  letter-spacing: 0em;
  text-align: left;
}
.Time {
  font-family: Segoe UI;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 350;
  line-height: 2.2rem;
  letter-spacing: 0em;
  text-align: left;
}
